.footer {
    background-color: var(--body-color);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    bottom: 0;
}

.footer__container {
    padding: 0rem 0 4rem;
}

.footer__title, .footer__link {
    color: var(--title-color);
}

.footer__title {
    text-align: center;
    margin-bottom: var(--mb-2);
}

.footer__link:hover {
    color: var(--title-color-dark);
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 5.5rem;
}

.footer__list li{
    transition: .3s;
}

.footer__list li:hover {
    transform: scale(1.1);
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    padding-bottom: 2rem;
}

.footer__social-link {
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.25rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
}

.footer__social-link:hover {
    background-color: var(--title-color-dark);
}

.footer__copy {
    display: block;
    bottom: 0;
    color: var(--title-color);
    text-align: center;
    font-size: var(--small-font-size);
}

@media screen and (max-width: 992px) {
        .footer__social-link {
            padding: 0.25rem;
            border-radius: 0.25rem;
            font-size: 1rem;
        }
    }
@media screen and (max-width: 576px) {
        .footer__list {
            display: grid;
            row-gap: 1.5rem;
        }
    }

.footer__scroll {
    display: flex;
    justify-content: center;
    color: var(--title-color);
}
.footer__scroll-name {
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.footer__scroll-button {
    position: relative;
    bottom: 48px;
    background: var(--body-color);
    z-index: 999;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.bi-caret-up-fill {
    font-size: 1.2rem;
    color: var(--title-color);
    animation: down 2s ease infinite;
}
